pre {
  padding: 16px;
}

code {
  padding: 4px;
  color: #e2134c;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

li, p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

a, a:hover {
  text-decoration: none;
  color: #e2134c;
}

nav a {
  color: #2d334a;
}
