---
import { getCollection } from 'astro:content';

import Head from '../components/Head.astro';
import Header from '../components/Header';
import Navigation from '../components/Navigation';
import Scripts from '../components/Scripts.astro';

const guides = await getCollection('guide');
const references = await getCollection('reference');
---

<!doctype html>
<html lang="en">
  <Head />
  <body>
    <Header />
    <div style={{ display: 'flex' }}>
      <section style={{ flexGrow: 4 }}>
        
      </section>
    </div>
    <Scripts />
  </body>
</html>
