---
---

<div>
  <div>
    <div id="verify-persona"></div>
    <div id="pay-persona"></div>
  </div>
  <code></code>
</div>
<script is:inline type="module" crossorigin="anonymous" src="https://cdn.m.todaq.net/micropay.js"></script>
<script is:inline>
  document.addEventListener("DOMContentLoaded", async () => {
    // Setup

    const micro = await loadMicroPayments(
      // Replace <PUBLIC_SECRET> with your accounts' public secret.
      // "mp_11b3958356d047f295c0595154541f4a",
      "mp_821c2d39fa044dccaad197498e4f214f",
      { apiVersion: 'main' }
    );

    const elements = micro.elements();

    // Verify Button

    // Elements.create used again, this type take note of the 'verify' parameter
    const verifyButton = await elements.create('verify', {
      // Replace <HASH> with the commodities hash.
      // hash: '41061459227a3cac70fedab25e1afb8f4f8483aca8dfc2a0209712c6fb4531e8dc',
      hash: '419eee27815968b961dc090aaee01de10c237dd36bb15dd9c87ce0e1f214a80016', 
      theme: "light",
      issueMin: 1,
      issueMax: 10000,
    });

    // Last but not least if everything went okay, mount the button to
    // somewhere in the DOM.
    const verifyElement = document.getElementById('verify-persona');

    if (verifyButton && verifyElement) {
      verifyButton.mount(verifyElement);

      document.addEventListener("verify", async () => {
        button.iframe.contentWindow.postMessage('_TQMToggle', '*');
      });
    }

    // const hash = '893fe671-cf93-4de1-ae93-ef2998b4643a'; // Staging
    // const hash = 'd43e1615-27f7-4f9b-97b7-4d8cdad4b768';
    const hash = '83221d6c-3c81-446c-9a05-60785ee841fe';

    // Payment Button
    const buttonElement = document.getElementById('pay-persona');

    // Elements.create allows you to create the button
    const button = await elements.create('payment', {
      // Replace <HASH> with the commodities hash.
      hash,
      theme: "light",
      styles: {
        colorBackground: 'transparent',
        colorPrimary: 'transparent',
      },
    });

    if (buttonElement && button) {
      button.mount(buttonElement);
    }

  });
</script>
