---
import { getCollection } from 'astro:content';

import Head from '../components/Head.astro';
import Header from '../components/Header';
import Navigation from '../components/Navigation';
import Scripts from '../components/Scripts.astro';

const guides = [ ...await getCollection('guide') ];
const references = [ ...await getCollection('reference') ];
---

<!doctype html>
<html lang="en">
  <Head />
  <body>
    <Header />
    <div style={{ display: 'flex' }}>
      <aside style={{ padding: '32px 16px'}}>
        <h4 style={{ fontWeight: 600, color: '#000000' }}>User Guides</h4>
        <Navigation entries={guides} root={true}/>
        <h4 style={{ fontWeight: 600, color: '#000000' }}>References</h4>
        <Navigation entries={references} root={true}/>
      </aside>
      <section style={{ flexGrow: 4, padding: '16px' }}>
        <slot />        
      </section>
    </div>
    <Scripts />
  </body>
</html>
